
    /*
    color pallete
    --cerulean: #006992ff;
    --turquoise: #41ead4ff;
    --sandy-brown: #f7934cff;
    --bronze-spice: #cc5803ff;
    --indigo-ink: #391463ff;
    */

    body{
        font-family: arial, sans-serif;
        background-color: #006992ff;
        margin: 0;
    }

    main, footer, header{
        border: 5px solid black;
        margin: 2rem auto;
        width: 80vw;
        padding: 1rem;
        background-color: antiquewhite;
        border-radius: 1rem;
    }

    h1 { 
        font-family: sans-serif;
        font-size: 75px;
    }

    h1,h2,h3,h4{
        color: #41ead4ff;
        font-family: Barrio;
    }

    blockquote { 
        background-color: lightgray;
        padding: 1rem;
        margin: 0;
    }
    

    p{
        margin-left: 20px;
        width: 80%;
    }
    header{
        background-color: #391463ff;
    }

    header nav{
        color: #41ead4ff;
    }

    .side{
        float:right;
        margin: 0 20px;

    }

    section{
        background-color: #f7934cff;
        margin: 1rem 0;
        padding: 1rem;
    }

    section h2{
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .border{
        border: 2px solid;
        color: #41ead4ff
    }

    a:link{
        color: #006992ff;
    }
    a:visited{
        color: #391463ff;
    }
    a:focus{
        color: rgb(65, 105, 234);
    }
    a:hover{
        color: rgb(0, 168, 235);
    }
    a:active{
        color: #41ead4ff;
    }