/* Do everything in this file */

h2{
    border-bottom: 1px solid red;
    clear:both;
}

figure{
    width: 40%;
    float:right;
    margin: 2rem;
}

figure img{
    width: 100%;
    
}

.tet{
    width: 14%;
    float: left;
    border: 2px solid black;
}

footer{
    clear: both;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: -1;
}