header, main, footer{
    width: 90vw;
    margin: 0 auto;
}

figure{
    max-width: 650px;
    margin: 0 auto;
}

figure img{
    width: 100%;
}

#tetlist{
    display: flex;
    flex-flow: row wrap;
}

.tet{
    flex: 0 1 450px;
    text-align: center;
}

.tet img{
    width: 60%
}

span{
    display: block;
    margin: 1rem 0;
    font-size: large;
    font-weight: bold;
}

.aliases{
    text-align: left;
    margin: 1em;
}

.long img{
    width: 80%;
}

.square img{
    width: 40%;
}