/* ===========================================
   Chapter 12: Formatting Text
   We'll build this together in class!
   =========================================== */

body{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
   font-size: 2.5rem;
   text-shadow: 2px 2px 4px darkgray;
   letter-spacing: 0.3em;
}

h1,h2,h3,h4,h5,h6{
   text-transform: uppercase;
}

h2{
   text-align: center;
}

header{
   text-align: center;
}

.tagline{
   font-style: italic;
}

body{
   margin-left: 25vw;
   margin-right: 25vw;
}