
/*
color palet
#EFEFE6 white
#DB8C69 orange
#56BA4A green
#AF4054 red
#2F4143 dark gray
*/

/*global styles*/
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: #EFEFE6;
    color: #2F4143;
    max-width: 100vw;
}

.project{
    padding: 1rem;
    display: flex;
}
.project img{
    margin-right: 1rem;
    box-shadow: 6px 6px #56BA4A;
    max-height: 250px;
    height: 200px;
}
.project div{
    min-width: 200px;
}


.nav-mark{
    position: relative;
    top: -120px
}

/*header styles*/
header{
    height: 120px;
    width: 100%;
    display: flex;
    padding: 10px;
    background-color: #2F4143;
    color:#EFEFE6;
    position: sticky;
    box-sizing: border-box;
    top: 0px;
}
header #name{
    margin-left: 2rem;
    flex: 2;
}
header #name *{
    margin: 0px;
}
#github{
    display: inline-block;
    width: 70px;
    height: 70px;
    background:url(../media/github.svg) no-repeat;
    text-indent: -9999px;
}

#linkedin{
    display: inline-block;
    width: 70px;
    height: 70px;
    background: url(../media/linkedin.svg) no-repeat;
    text-indent: -9999px;
}

/*main styles*/
main{
    display: flex;
}

/*nav styles*/
nav{
    background-color: #AF4054;
    min-width: 125px;
    max-height: calc(100vh - 120px);
    position: sticky;
    top: 120px;
}
nav a{
    display: block;
    font-weight: 700;
    font-size: large;
}
nav a:link{
    color: #EFEFE6;
    text-decoration: none;
}
nav a:visited{
    color: #56BA4A;
    text-decoration: none;
}
nav a:focus{
    color: #EFEFE6;
    text-decoration: none;
    border: 1px solid #56BA4A;
}
nav a:hover{
    color: #EFEFE6;
    text-decoration: underline;
}
nav a:active{
    color: #56BA4A;
    text-decoration: underline;
}

/*content styles*/
#content{
    padding: 0px 0.5rem;
    flex: 90%;
}

#about-me{
    max-width: 600px;
    margin: 0px auto;
}
#about-me h2{
    text-align: center;
}

#game-projects{
    display: grid;
    grid-template-rows: 50px repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-areas: "title title"
                         "one two"
                         "three four";
}
#game-projects h2{
    grid-area: title;
    text-align: center;
}
#big-energy{
    grid-area: one;
}
#bad-roommate{
    grid-area: two;
}
#simple-td{
    grid-area: three;
}
#possesion{
    grid-area: four;
}

#other-projects{
    display:grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-areas: "title title"
                         "one two";
}
#other-projects h2{
    grid-area: title;
    text-align: center;
}
#magitech{
    grid-area: one;
}
#osu{
    grid-area: two;
}

@media screen and (max-width: 1505px){
    .project{
        display: initial;
    }
    .project img{
        margin: 0;
        
    }
}

@media screen and (max-width:930px){
    main{
        flex-direction: column;
    }
    nav{
        width: 100%;
        display: flex;
        justify-content:space-around;
    }
}

@media screen and (max-width: 800px){
    #game-projects{
        grid-template-rows: 50px repeat(4, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: "title"
                            "one"
                            "two"
                            "three"
                            "four";
        margin: 0px 1rem;
    }
    #other-projects{
        grid-template-rows: 50px repeat(2, 1fr);
        grid-template-columns: 1fr ;
        grid-template-areas: "title"
                             "one"
                             "two";
        margin: 0px 1rem;
    }
    .project{
        text-align: center;
    }
    #about-me{
        margin: 0px 1rem;
    }
}